@font-face {
    font-family: 'SUIT-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
*{ 
    font-family:'SUIT-Regular';
}

a {
    text-decoration: none;
    color: #222;
}
button{
    background: inherit ; border:none; box-shadow:none; border-radius:0; padding:0; overflow:visible; cursor:pointer}

img{
    display: block;
}

header {
    height: 80px;
    position: fixed;
    width: 100%;
    z-index: 5;
}
.header-container {
    height: 100%;
    position: relative;
    padding: 0 16px;
    box-sizing: border-box;
}

.menu-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.menu-bar > a > img {
    width: 30px;
    height: 30px;
}

.logo-box {
    width: 120px;
    height: 60px;
}

.logo-box > a > img {
    width: 120px;
    height: 60px;
}

main {
    width: 100%;
    height: 100vh;
    background-image: url(../mac/img/민니_화보_\(4\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 32% center;
}

.main-container {
    position: relative;
}

.plus {
    width: 30px;
    height: 30px;
    border-radius: 50px;
    background-color: #000000AA;
    /* opacity: 0.75; */
    display: flex;
    justify-content: center;
    align-items: center;
    left: 615px;
    top: 430px;
    position: absolute;
}

.plus > img {
    width: 18px;
    height: 18px;
}

.main-lip-box {
    width: 695px;
    height: 349px;
    position: absolute;
    left: calc(100% + 32px) ;
    top: 50%;
    transform: translateY(-50%);
    background-color: #11111190;
    display: flex;
 
}

.left-arrow {
    border: 20px solid transparent;
    width: 0;
    height: 0;
    border-right-color: #11111190;
    position: absolute;
}

.lip-box {
    margin: 16px;
    box-sizing: border-box;
    display: flex;
    gap: 16px;
}

.lip-box-img {
    width: 317px;
    height: 317px;
    background-color: white;
}

.lip-box-text {
    width: 317px;
    height: 317px;
    display: flex;
    flex-direction: column;
    align-items: start;
    color: white;
    gap: 10px;
    position: relative;
}

.font-24 {
    font-size: 24px;
}
.font-20 {
    font-size: 20px;
}

.price {
    margin: 10px 0;
}

.tag { 
    margin-top: 10px;
}

.button-box {
    position: absolute;
    right: 0;
    bottom: 0;
}

.button {
    font-size: 16px;
    width: 100px;
    height: 29px;
    padding: 6px 16px;
    box-sizing: border-box;
    border-radius: 50px;
}

.white {
    background-color: white;
}

.black {
    background-color: #222;
    color: white;
}

.powderkiss {
    width: 460px;
    font-weight: lighter;
    color: white;
    line-height: 150%;
    position: absolute;
    right: 16px;
    bottom: 16px;
}

.powderkiss > img {
    width: 434px;
    height: 120px;
}

#background-black{
    background-color: black;
}

.section-container-1400 {
    max-width: 1400px;
    margin: 0 auto;
}

.new-cushion {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px;
    box-sizing: border-box;
}

.contents-box {
    width: 680px;
    height: 500px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.cushion-title {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 30px;
}

.cushion-text {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.cushion-subtext {
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-bottom: 30px;
}
.font-36 {
    font-size: 36px;
}

.cushion-img{
    width: 640px;
    height: 860px;
}

.bold{
    font-weight: bold;
}

.foundation-finder {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.finder-img {
    padding: 32px;
    box-sizing: border-box;
    width: 640px;
    height: 820px;
}

.finder-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}
.font-32{
    font-size: 32px;
}

.font-56{
    font-size: 56px;
}

.moving-img {
    width: 640px;
    height: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
}

.moving-img > img {
    width: 110px;
    height: 140px;
}

.finder-text > button {
    margin-top: 56px;
}

#background-white {
    background-color: white;
}

.n-b-products-container {
    height: 960px;
    padding: 80px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.new-or-best {
    display: flex;
    gap: 40px;
}

.n-b-products {
    margin-top: 24px;
    display: flex;
    gap: 60px;
}

.n-b-products-box {
    width: 100%;
    display: flex;
    margin-top: 60px;
    gap: 20px;
}

.n-b-products-contents{
    width: 300px;
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 20px;
}

.color {
    width: 80px;
    height: 80px;
    position: absolute;
    left: -40px;
    top: -40px;
}

.lip {
    width: 300px;
    height: 300px;
}

.n-b-img-background {
    width: 300px;
    height: 300px;
    background-color: #F2F2F2;
}

.n-b-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.n-b-title {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.n-b-slide {
    margin-top: 150px;
    width: 100%;
    height: 1px;
    background-color: #D9D9D9;
}

.n-b-slide-inner {
    width: 200px;
    height: 1px;
    background-color: #434343;
}

.trend-container {
    height: 960px;
    width: 100%;
    color: white;
    padding: 70px 0px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.trend-title-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-bottom: 40px;
}

.trend-contents {
    display: flex;
}

.trend-contents > img {
    width: 480px;
    height: 640px;
}

.trend-text-box {
    width: 480px;
    height: 640px;
    background-color: #111;
    display: flex;
    flex-direction: column;
    gap: 40px;
    position: relative;
    padding: 32px;
    box-sizing: border-box;
}

.trend-text-box > h3 {
    margin-bottom: 10px;
}

.trend-text-box > button {
    width: 150px;
    position: absolute;
    right: 32px;
    bottom: 32px;
}

.trend-text-contents{
    line-height: 140%;
}

#glam-campaign {
    background-color: black;
    color: white;
    padding: 0 16px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.glam-main-container { 
    width: 100%;
    height: 960px;
    position: relative;
}

.arrow-box {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 50%;
}

.arrow-box > img {
    width: 36px;
    height: 36px;
}

.vivaglam-main {
    width: 100%;
    height: 960px;
    padding-top: 200px;
    box-sizing: border-box;
    background-image: url(../mac/img/vivaglam.png);
    background-repeat: no-repeat;
    background-position: center;
}

.viva-main-text {
    height: 960px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.viva-main-text > h2 { 
    margin-bottom: 250px;
}

.viva-main-text > p {
    margin-bottom: 50px;
}

.viva-campaign-container {
    width: 100%;
    height: 960px;
    background-color: #8A000B;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 80px;
    justify-content: center;
    align-items: center;
}

.viva-campaign-title {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.viva-lip-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.viva-lip-box {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}

.viva-lip-box > img {
    width: 335px;
    height: 335px;
}

.sub-slogan {
    margin-top: 30px;
}

.changing-since-container {
    width: 100%;
    height: 960px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.changing-title {
    display: flex;
    flex-direction: column;
}

