*{ 
    font-family: 'suit';
}

a {
    text-decoration: none;
    color: #222;
}

img {
    width: 100%;
    display: block;
}
button {
    background: inherit ; border:none; box-shadow:none; border-radius:0; padding:0; overflow:visible; cursor:pointer
}

header {
    width: 100%;
    height: 80px;
    padding: 0 32px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    z-index: 1;
}

.header-container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-box {
    width: 30px;
    height: 30px;
}


.logo-box {
    width: 300px;
    height: 80px;
}

/* 헤더 끗 */

main {
    width: 100%;
    height: 100vh;
    background-image: url(../img/민니\ 메인.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 32% center;
    
}

.main-container {
    width: 100%;
    height: 100%;
    position: relative;
    color: white;
}

.plus {
    position: absolute;
    left: 657px;
    top: 485px;
    display: flex;
    gap: 34px;
}

.plus-button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #11111190;
    display: flex;
    justify-content: center;
    align-items: center;  
}

.plus-button > img {
    width: 20px;
    height: 20px;
}

.plus-box {
    width: 620px;
    height: 300px;
    background-color: #11111190;
    position: absolute;
    left: calc(100% + 32px) ;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    gap: 32px;
    padding: 16px;
    box-sizing: border-box;
}

.left-arrow {
    border: 20px solid transparent;
    width: 0;
    height: 0;
    position: absolute;
    left: -40px;
    top: 40%;
    border-right-color: #11111190;
}

/* ????????????????? */

.plus-lip-img {
    width: 266px;
    height: 266px;
    background-color: #ffffff98;
}

.plus-box-contents {
    position: relative;
}

.plus-text {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.plus-tag-box {
    display: flex;
    gap: 10px;
}

.plus-contents-button{
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    gap: 12px;
}

.button {
    width: 80px;
    height: 30px;
    background-color: #ffffff;
    border-radius: 50px;
    padding: 6px 16px;
    box-sizing: border-box;
}

.black {
    background-color: #222;
    color: white;
}

.main-contents {
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: absolute;
    right: 32px;
    bottom: 32px;
}

.main-contents-img {
    width: 434px;
    height: 120px;
    margin-bottom: 20px;
}

/* 메인 끗~~ */


#background-black {
    background-color: black;
    color: white;
}

.section-container-1400 {
    max-width: 1400px;
    margin: 0 auto;
}

.longwear-cushion-container {
    display: flex;
    gap: 128px;
    align-items: center;
    padding: 46px 0;
    box-sizing: border-box;
}

.longwear-cushion-contents {
    display: flex;
    flex-direction: column;
    gap: 39px;
}

.longwear-cushion-contents > p {
    line-height: 120%;
}

.studio {
    margin-bottom: 50px;
}

.fix {
    margin-bottom: 45px;
}

.longwear-cushion-contents > button {
    margin-top: 110px;
}

.longwear-img {
    width: 690px;
    height: 860px;
}

.finder-container {
    width: 100%;
    height: 960px;
    display: flex;
    align-items: center;
    gap: 110px;
    padding: 46px 0;
    box-sizing: border-box;
}

.finder-img {
    width: 668px;
    height: 860px;
}

.finder-contents {
    display: flex;
    flex-direction: column;
    gap: 118px;
    align-items: center;
}

.finder-title{
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
}

.finder-moving-img{
    display: flex;
    justify-content: space-between;
    margin-bottom: 23px;
}

.skin {
    width: 98px;
}

.moisture {
    width: 74px;
}

.skin-type {
    width: 138px;
    height: 138px;
}

#background-white {
    background-color: white;
}

.bestseller-container {
    max-width: 1400px;
    margin: 0 auto;
    height: 960px;
    padding: 73px 0;
    box-sizing: border-box;
}

.new-or-best {
    color: #bbb;
    display: flex;
    gap: 50px;
    margin-bottom: 30px;
}

.lip-skin {
    color: #bbb;
    display: flex;
    gap: 68px;
    margin-bottom: 56px;
}

.best-products-container {
    display: flex;
    gap: 20px;
}

.best-products-contents {
    position: relative;
}

.best-products-color{
    width: 80px;
    height: 80px;
    position: absolute;
    left: -40px;
    top: -40px;
}

.best-products {
    width: 334px;
    height: 297px;
    background-color: #f2f2f2;
    margin-bottom: 23px;
}

.best-products-text{
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.e-title {
    color: #555;
    margin-bottom: 20px;
}

.sub-text {
    color: #333;
    margin-top: 20px;
}

.slider {
    margin-top: 125px;
    background-color: #d9d9d9;
    width: 1400px;
    height: 1px;
}

.slider-point {
    width: 226px;
    height: 1px;
    background-color: #434343;
}

.trend-container {
    width: 100%;
    height: 960px;
    padding: 71px 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.trend-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    margin-bottom: 98px;
}

.trend-contents {
    display: flex;
}

.trend-img {
    width: 480px;
    height: 642px;
}

.trend-text-box {
    width: 480px;
    height: 642px;
    background-color: #111;
    padding: 50px;
    box-sizing: border-box;
    position: relative;
}

.trend-text-box > h3 {
    margin-bottom: 44px;
}

.trend-text-box > p {
    margin-bottom: 28px;
    line-height: 120%;
}

.big-button {
    width: 130px;
    position: absolute;
    right: 50px;
    bottom: 50px;
}


/*  비바비바  */

.vivaglam {
    height: 960px;
    background-image: url(../img/vivaglam.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.vivaglam-contetns {
    height: 508px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vivaglam-contetns > h2 {
    margin-bottom: 210px;
}

.vivaglam-contetns > p {
    margin-bottom: 62px;
    text-align: center;
}

.viva-lip {
    height: 960px;
    background-color: #8A000B;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 0 ;
    box-sizing: border-box;
}

.arrow-box {
    width: 1860px;
    height: 36px;
    display: flex;
    justify-content: space-between;
}

.prev-button {
    width: 36px;
    height: 36px;
}

.viva-lip-container {
    max-width: 1400px;
    margin: 0 auto;
}


.viva-lip-title {
    display: flex;
    flex-direction: column;
    gap: 25px;
    text-align: center;
    margin-bottom: 93px;
}

.viva-lip-contents-box {
    display: flex;
    gap: 20px;
}

.viva-lip-contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.viva-lip-img {
    width: 335px;
    height: 325px;
}

.viva-lip-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 33px;
}

.viva-lip-container > p {
    text-align: center;
    margin-top: 82px;
}

.viva-since {
    height: 960px;
    padding: 60px;
    box-sizing: border-box;
    text-align: center;
    line-height: 120%;
}

.viva-since-container {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
}

.viva-since-title{
    display: flex;
    flex-direction: column;
    gap: 14px;
    align-items: center;
}

.viva-since-contents {
    width: 1400px;
    height: 537px;
    background-image: url(../img/viva-since.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.viva-since-text{
    display: flex;
    flex-direction: column;
    gap: 129px;
}

.mission {
    height: 960px;
    padding: 60px 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 178px;
}

.mission-contents-box {
    display: flex;
    gap: 30px;
}

.mission-img{
    width: 600px;
    height: 336px;
}

.mission-text-box {
    width: 600px;
    height: 336px;
    padding: 40px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.white-box {
    background-color: #d9d9d980;
    color: #333;
}

.white-box > h4 {
    color: #222;
}

.black-box {
    background-color: #1e1e1e80;
    color: #cfcfcf;
}

.black-box > h4{
    color: #ffffff;
}

.virtual {
    padding: 60px 0;
}

.virtual-container {
    max-width: 1400px;
    margin: 0 auto;
}

.virtual-title {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 65px;
}

.virtual-contents-container{
    width: 1400px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.virtual-contents-box {
    display: flex;
    gap: 20px;
}

.virtual-contents {
    width: 690px;
    height: 922px;
    background-color: #ffffff;
    border-radius: 2px;
    color: #222;
    padding: 30px;
    box-sizing: border-box;
}

.virtual-contents-title{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 30px;
}

.virtual-tag {
    margin-top: 30px;
}

.qr-box {
    display: flex;
}

.qr-box > button {
    margin-right: 40px;
}

.hidden{
    display: none;
}

.qr-background {
    width: 400px;
    height: 400px;
    background-color: #55555580;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.qr-arrow{
    border: 34px solid transparent;
    width: 0;
    height: 0;
    border-right-color: #55555580;
    position: absolute;
    left: -68px;
}

.qr-img {
    width: 340px;
    height: 340px;
}

.line-button {
    border: 1px solid #222;
    border-radius: 50px;
    width: 148px;
    height: 30px;
    padding: 6px 16px;
    box-sizing: border-box;
    margin: 50px 0;
}

.virtual-img {
    width: 664px;
    height: 560px;
}

.benefits {
    height: 780px;
    padding: 60px;
    box-sizing: border-box;
}

.benefits-container {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
}

.benefits-contents{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.benefits-img {
    width: 358px;
    height: 418px;
}

.benefits-container > button {
    width: 100px;
}

footer {
    background-color: black;
    padding: 0 60px;
    color: white;
}

.footer-container{
    height: 581px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;

}

.footer-line {
    width: 1800px;
    height: 1px;
    background-color: #7e7e7e;
}

.footer-contents {
    width: 100%;
    margin-top: 60px;
    display: flex;
    gap: 120px;
    position: relative;
    margin-bottom: 140px;
}

.license-line {
    width: 383px;
    height: 1px;
    background-color: #7e7e7e;
}

.license {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.license-list {
    margin-top: 8px;
}

.license-list > a {
    text-decoration: underline;
    color: white;
}

.customer {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.customer-line {
    width: 175px;
    height: 1px;
    background-color: #7e7e7e;
}

.customer-list {
    margin-top: 8px;
}

.customer-list > a {
    color: white;
}

.mac-home {
    width: 132px;
    height: 132px;
    position: absolute;
    right: 0px;
}

.social-box {
    display: flex;
    gap: 14px;
}

.social-icon{
    width: 30px;
    height: 30px;
}