img{
    width: 100%;
    height: 100%;
    display: block;
}

header{
    width: 100%;
    height: 100px;
    padding: 0 30px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
}

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu{
    width: 30px;
    height: 30px;
}

.logo{
    width: 333px;
    height: 93px;
}

main{
    width: 100%;
    padding: 40px;
    box-sizing: border-box;
    background-image: url(../img/민니_화보_\(4\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 32% center;
    color: white;
}

.main-container{
    height: 960px;
    position: relative;
}

.plus{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    position: absolute;
    left: 615px;
    top: 430px;
}

.plus-button{
    width: 30px;
    height: 30px;
    background-color: #11111190;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.plus-img{
    width: 20px;
    height: 20px;
}

.plus-contents{
    width: 620px;
    height: 300px;
    background-color: #11111190;
    position: relative;
    display: flex;
    gap: 20px;
    padding: 16px;
    box-sizing: border-box;
}

.hidden{
    display: none;
}

.left-arrow{
    border: 20px solid transparent;
    width: 0;
    height: 0;
    border-right-color: #11111190;
    position: absolute;
    left: -40px;
    top: 130px;
}

.plus-contents-img{
    width: 266px;
    height: 266px;
    background-color: #ffffff80;
}

.plus-title{
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.plus-text{
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
}

.plus-button-box{
    display: flex;
    gap: 20px;
    position: absolute;
    right: 0;
    bottom: 0;
}

.button{
    width: 90px;
    height: 30px;
    background-color: #ffffff;
    color: #222;
    border-radius: 50px;
    padding: 6px 16px;
    box-sizing: border-box;
}

.b-black{
    background-color: #222;
    color: #ffffff;
}

.main-contents{
    display: flex;
    flex-direction: column;
    gap: 26px;
    position: absolute;
    right: 40px;
    bottom: 40px;
}

.main-img{
    width: 434px;
    height: 120px;
}

#black-section {
    background-color: black;
    color: white;
}

.section-container-1400{
    max-width: 1400px;
    margin: 0 auto;
}

.longwear{
    height: 960px;
    display: flex;
    padding: 40px 0;
    box-sizing: border-box;
    gap: 90px;
    align-items: center;
}

.longwear-contents{
    width: 630px;
}

.longwear-title{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 80px;
}

.longwear-text{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 100px;
    line-height: 150%;
}

.longwear-img{
    width: 690px;
    height: 868px;
}

.finder{
    height: 960px;
    padding: 60px 0;
    display: flex;
    gap: 60px;
}

.finder-img{
    width: 690px;
    height: 830px;
}

.finder-contents{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.finder-title{
    display: flex;
    flex-direction: column;
    gap: 14px;
    align-items: center;
}

.finder-moving{
    display: flex;
    justify-content: space-between;
    gap: 60px;
    margin-top: 120px;
    margin-bottom: 140px;
    overflow: hidden;
}

.skin-type{
    width: 130px;
    height: 130px;
    animation: finder 20s linear infinite;
}

@keyframes finder {
    0%{
        transform: translateX(100%);
    }

    100%{
        transform: translateX(-100%);
    }
    
}

.finder-contents > button{
    margin-top: 60px;
}

#white-section {
    background-color: white;
}

.bestseller{
    height: 960px;
    color: #222;
    padding: 60px 0;
    display: flex;
    flex-direction: column;
}

.new-or-best{
    display: flex;
    gap: 50px;
    color: #bbb;
    margin-bottom: 30px;
}

.products-list{
    color: #bbb;
    display: flex;
    gap: 70px;
    margin-bottom: 60px;
}

.bestproducts-container{
    display: flex;
    gap: 20px;
    margin-bottom: 150px;
}

.bestproducts-contents{
    position: relative;
}

.bestproducts-color{
    width: 80px;
    height: 80px;
    position: absolute;
    top: -40px;
    left: -40px;
}

.bestproducts{
    width: 334px;
    height: 334px;
    background-color: #f2f2f2;
    margin-bottom: 30px;
}

.bestproducts-text{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.bestproducts-title{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.e-title{
    color: #555;
}

.sub-text{
    color: #333;
}

.slide-line{
    width: 1400px;
    height: 1px;
    background-color: #d9d9d9;
}

.slide-point{
    width: 226px;
    height: 1px;
    background-color: #444;
}

.trend{
    height: 960px;
    padding: 60px 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.trend-title{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    margin-bottom: 100px;
}

.trend-contents{
    display: flex;
    height: 643px;
    position: relative;
}

.trend-img{
    width: 480px;
}

.trend-box{
    width: 470px;
    padding: 50px;
    box-sizing: border-box;
    position: relative;
    background-color: #111;
}

.trend-box > h2 {
    margin-bottom: 50px;
}

.trend-text{
    display: flex;
    flex-direction: column;
    gap: 30px;
    line-height: 130%;
}

.trend-box > button{
    width: 130px;
    position: absolute;
    right: 50px;
    bottom: 50px;
}


